.tickets-container{

    padding:40px;
}

.tickets-container h2{

    text-align:center;
    margin-bottom:30px;
}

.pnr{
    text-transform: uppercase;
    color: red;
}
.delete-ticket{
    color: red;
    border-radius: 5px;
    border: 2px solid white;
    transition: .3s;
}
.delete-ticket:hover{
    background-color: rgba(255, 0, 0, 0.532);
    color: white;
}
.table-responsive{

    overflow-x:auto;
}

table{

    width:100%;
    border-collapse:collapse;
    background:white;
}

table th{

    background:#0d6efd;
    color:white;
    padding:15px;
}

table td{

    padding:14px;
    border-bottom:1px solid #ddd;
    text-align:center;
}

table tr:hover{

    background:#f7f7f7;
}

.summary{
    margin-top:25px;
    padding:20px;
    background:#f7f7f7;
    border-radius:10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-weight:bold;
    font-size:20px;
}

@media(max-width:768px){

.tickets-container{

    padding:15px;
}

table{

    min-width:700px;
}

}